p {
  color: blue;
  background-color: white;
  font-family: Arial, Verdana;
  font-size: 16px;
  text-align: center;
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
}
h1 {
  color: red;
  font-family: Arial, Verdana;
  font-size: 64px;
}
body {
  text-align: center;
  background-color: black;
}
h2 {
  color: yellow;
  font-family: Arial, Verdana;
  font-size: 32px;
}
a {
  color: red;
  font-family: Arial, Verdana;
  font-size: 64px;
}
